repos:
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.6.0 # Possible releases: https://github.com/hadialqattan/pycln/releases
    hooks:
      - id: pycln
  - repo: 'https://github.com/psf/black'
    rev: 25.11.0
    hooks:
      - id: black
        args:
          - "--line-length=120"
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '^docs/[^/]*\.svg$'
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: |
          .gitignore
      - id: check-case-conflict
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: debug-statements
      - id: check-added-large-files
      - id: check-symlinks
      - id: debug-statements
  - repo: 'https://github.com/PyCQA/flake8'
    rev: 7.3.0
    hooks:
      - id: flake8
        args:
          - "--max-line-length=120"
          - "--ignore=E203,W503"
          - "--select=W504"
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus, --keep-runtime-typing]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-d", "{extends: relaxed, rules: {empty-lines: disable, line-length: {max: 1500}}}", --strict, --format, parsable]

  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '2', --preserve-quotes, --implicit_start, --width, '1500']
        exclude: tests/fixtures/schema-enum.yaml

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.13
    hooks:
      # Update the uv lockfile
      - id: uv-lock
      - id: uv-export
        args: ["--no-dev", "--no-hashes", "--no-editable", "-o", "requirements.txt"]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.ci hooks
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: ["uv-lock", "uv-export"]
  submodules: false
